<div class="center">
    <p>
            Hello and welcome to our sports accessories online store. Here you can find jerseys, shoes, outer wear, accessories, <BR />
            and merchandise of all kind that have to do with sports. Feel free to look around, and if you find it usefull, <BR />
            we will be glad to send the product to you as soon as possible. If you have any question, feel free to contact us under our customer service site. <BR />
            Out profucts are enviromently friendly produced and 100% recycable. Furthermore, we reduced our carbon footprint to zero. <BR />
            We pledged ourselves to donate $1 for every item that we sold to the fight against cancer. <BR />
    </p>
</div>