<div class="content-outer-container">
  <div class="content-inner-container">
    <body>
    <h1>{{title}}</h1>
    <h4>{{name}}</h4>
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Home</a></li>
        <li><a routerLink="/jersey">Jersey</a></li>
        <li><a routerLink="/shoes">Shoes</a></li>
        <li><a routerLink="/outerwear">Outerwear</a></li>
        <li><a routerLink="/accessories">Accessories</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/account">Account</a></li>
        <li><a routerLink="/customerService">Customer Service</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </nav>


    <router-outlet></router-outlet>
    </body>
  </div>
</div>
<div class="footer-container">
  <p class="footer-content">
    Disclaimer <br><br>
		The entire web site is Copyright 2022 by Josef Peter. 
		<br />
		All Rights Reserved. 
		<br />
		The website may not be copied or duplicated in whole or part by any means without express prior 
    agreement in writing or unless specifically noted on the site.
  </p>
</div>