.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .catagories {
    width: 400px;
    text-align: center;
    padding: 5%;
 }
 
 nav {
    font-size: 20px;
    background: lightblue;
 }
 
 content {
    font-size: 30px;
    background: beige;
    text-align: center,
 }
 
 p.title {
    font-size: 30px;
    font-weight: bold;
 }
 
 h1{
  text-align: center;
 }