<div id="main">
    <div class="flex-container">
      <div class="catagories">
        <img class="product" src="/assets/images/shoes.jpg" alt="Shoes" title="shoes" height="200px">
        <br>Shoes
      </div>
    <div class="catagories">
      <a routerLink="/jersey">
        <img class="product" src="/assets/images/Jersey.jpg" alt="Jersey" title="Jersey" height="200px">
        <br /> Jerseys
      </a>
    </div>
    <div class="catagories">
      <img class="product" src="/assets/images/accessories.jpg" alt="Accessories" title="Accessories" height="200px">
      <br />
    Accessories
    </div>  
    <div class="catagories">
      <img class="product" src="/assets/images/Outerwear.jpg" alt="Outerwear" title="Outerwear" height="200px">
      <br />
      Outerwear
    </div>
</div>